<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBspXKOxBGLvtP6iqyGkCILVHwpgfD9fFY</string>
	<key>GCM_SENDER_ID</key>
	<string>327164246685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patientDoctorScheduleApp</string>
	<key>PROJECT_ID</key>
	<string>patient-doctor-app-f3d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>patient-doctor-app-f3d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327164246685:ios:32f1de8b0e300d7287f274</string>
</dict>
</plist>